.novi-notification {
  $self: &;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--novi-font-color-white, white);

  &--type-default {
    border: 1px solid var(--novi-notification-default-darker, gray);

    #{$self}__icon-container {
      background-color: var(--novi-notification-default-darker, gray);
    }
  }

  &--type-informational {
    border: 1px solid var(--novi-notification-informational, blue);

    #{$self}__icon-container {
      background-color: var(--novi-notification-informational, blue);
    }
  }

  &--type-success {
    border: 1px solid var(--novi-notification-success, limegreen);

    #{$self}__icon-container {
      background-color: var(--novi-notification-success, limegreen);
    }
  }

  &--type-warning {
    border: 1px solid var(--novi-notification-warning, gold);

    #{$self}__icon-container {
      background-color: var(--novi-notification-warning, gold);
    }
  }

  &--type-error {
    border: 1px solid var(--novi-notification-error, red);

    #{$self}__icon-container {
      background-color: var(--novi-notification-error, red);
    }
  }

  &__icon-container {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: .5rem;
    width: 48px;
    min-height: 48px;
    box-sizing: border-box;
  }

  &__dashicons {
    color: var(--novi-font-color-white, white);
  }

  &__meta {
    padding: .25rem .5rem;
    align-items: center;
    display: flex;
  }

  &__text {
    color: var(--novi-font-color-primary, inherit);
    font-size: .765rem;
    line-height: 1.5em;
  }

  &__title {
    color: var(--novi-color-black, inherit);
  }
}

